lombok.accessors.chain = true
lombok.accessors.fluent = true

lombok.equalsAndHashCode.flagUsage = WARNING
lombok.nonNull.flagUsage = WARNING

lombok.anyConstructor.addConstructorProperties = true

lombok.noArgsConstructor.extraPrivate = true

# lombok.nonNull.exceptionType = IllegalArgumentException
